@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        /* gray-800 ChakraUI */
        --foreground: 220 26% 14%;

        --card: 0 0% 100%;
        --card-foreground: 220 26% 14%;

        --popover: 0 0% 100%;
        --popover-foreground: 220 26% 14%;

        /* teal-500 ChakraUI*/
        --primary: 179 51% 39%;
        --primary-foreground: 0 0% 100%;

        /* purple-500 ChakraUI*/
        --secondary: 259 59% 59%;
        --secondary-foreground: 0 0% 100%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        /* red-100 ChakraUI */
        --alert-error: 0 95% 92%;
        /* red-600 ChakraUI */
        --alert-error-fg: 0 61% 48%;

        /* blue-50 ChakraUI */
        --alert-info: 201 100% 96%;
        /* blue-300 ChakraUI */
        --alert-info-fg: 205 79% 66%;

        /* orange-100 ChakraUI */
        --alert-warning: 39 96% 89%;
        /* orange-600 ChakraUI */
        --alert-warning-fg: 20 71% 44%;

        /* green-100 ChakraUI */
        --alert-success: 139 73% 87%;
        /* green-600 ChakraUI */
        --alert-success-fg: 150 48% 35%;

        /* gray-200 ChakraUI */
        --border: 214 32% 91%;
        --input: 214 32% 91%;
        /* white-alpha-300 ChakraUI */
        --input-hover: 211 25% 84%;

        --ring: var(--primary);
        --radius: 0.5rem;
    }

    .dark {
        --background: 220 26% 14%;
        /* white-alpha-900 */
        --foreground: 0, 0%, 100%, 0.92;

        --card: 218 23% 23%;
        --card-foreground: 0, 0%, 100%, 0.92;

        --popover: 218 23% 23%;
        --popover-foreground: 0, 0%, 100%, 0.92;

        /* teal-200 ChakraUI */
        --primary: 172 67% 70%;
        --primary-foreground: 220 26% 14%;

        /* purple-200 ChakraUI */
        --secondary: 265 86% 86%;
        --secondary-foreground: 220 26% 14%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --alert-error: 0, 97%, 85%, 0.16;
        /* red-200 ChakraUI */
        --alert-error-fg: 0 97% 85%;

        --alert-info: 203, 82%, 76%, 0.24;
        /* blue-200 ChakraUI */
        --alert-info-fg: 203 82% 76%;

        --alert-warning: 38, 93%, 77%, 0.16;
        /* orange-200 ChakraUI */
        --alert-warning-fg: 38 93% 77%;

        --alert-success: 141, 60%, 75%, 0.16;
        /* green-200 ChakraUI */
        --alert-success-fg: 141 60% 75%;

        /* white-alpha-300 ChakraUI */
        --border: 0, 0%, 100%, 0.16;
        --input: 0, 0%, 100%, 0.16;
        /* white-alpha-400 ChakraUI */
        --input-hover: 0, 0%, 100%, 0.24;

        --ring: var(--primary);
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
